.article-card-container {
  display: grid;
  margin: 15px auto;
  border: 2px solid rgb(41, 176, 151);
  border-radius:15px;
  text-align: left;
  padding:10px;
  opacity: .8;
}
a{
  color:black;
}
.articleCardLinks a:hover{
  background-color: rgb(55, 213, 210);
  border-radius: 10px;
  padding: 10px;
}
p{
  text-indent:1%;
  font-size:20px;
  margin-top:-1px;
}