.article-card-container {
  display: grid;
  margin: 15px auto;
  border: 2px solid rgb(41, 176, 151);
  border-radius:15px;
  text-align: left;
  padding:10px;
  opacity: .8;
}

.articleCardLinks:hover{
  /* background-color: rgb(144, 179, 232); */
  border-radius: 10px;
  text-decoration: underline
  /* padding: 5px; */
}
p{
  text-indent:1%;
  font-size:20px;
  margin-top:-1px;
}
#artCTop:hover{
  color:black;
  font-size:24px;
  font-family: 'Courier New', Courier, monospace;
}