.comment-card-container {
  width:90%;
  float:right;
  /* margin-right:20px; */
  text-align:left;
  display: grid;
  margin: 15px auto;
  border: 2px solid rgb(41, 176, 151);
  border-radius:15px;
  text-align: left;
  padding:10px;
  opacity: .8;
}
