input {
  width: 150px;
  height: 25px;
  border-radius: 5px;
}
#login {
  display: flex;
  align-items: center;
  margin: 20% auto;
  background-color: rgb(25, 140, 140);
  width: 500px;
  height: 200px;
  border-radius: 5px;
}
button {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  background-color: aqua;
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  cursor:pointer;
}
.inputButton {
  margin: auto;
}

