.App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 20% 1fr 10fr 1fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "sidebar main"
    "footer footer";
  color: darkslategrey;
  font-family: "EB Garamond", serif;
}

header {
  background: #5ec5be;
  border: #67aaf9;
  grid-area: header;
  font-family: 'Abril Fatface', cursive;
  font-size: 150%;
  padding-bottom: 15px;
  color:#b8f3ff;
}

nav {
  background: #b8f3ff;
  border: blueviolet;
  grid-area: nav;
}
section {
  background: rgb(116, 244, 244);
  border: pink;
  grid-area: sidebar;
}
.main {
  background: #affffb;
  border: rgb(36, 145, 145);
  grid-area: main;
}
footer {
  background: #8ac6d0;
  border: rgb(183, 233, 183);
  grid-area: footer;
  color: black;
}

.sideBarLinks {
color:darkcyan;
font-size: 20px;
}
.sideBarLinks:hover{
color:rgb(7, 82, 82);
font-size: large;
}
nav a:hover {
color:rgb(11, 93, 103);
font-size: large;
}
.loader{
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #0d7d91; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 50px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.profileImg{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#wel{
  font-size:25px;
}
@media screen and (max-width: 700px) {
  header h1{
    font-size:30px;
    margin-top:50px;
  }
  .sideBarLinks{
  font-size:16px;
}
.article-card-container2{
    width:60%;
  }
}
@media screen and (max-width: 500px) {
  header h1{
    font-size:25px;
    margin-top:60px;
  }
  nav a {
font-size: small;
}
.article-card-container2{
    width:80px;
  }
.sideBarLinks{
  font-size:12px;
  color:black
}
.App{
  text-align: left;
}
#login{
  align-items:left;
}
/* section{
  display:none;
} */
/* nav{
  width:50%;
} */
}